html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato' sans-serif;
    overflow-x: auto;
    margin: auto;
    max-width: 1000px;
    background-image: url("../images/currency.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}